<div>
  <div class="d-flex  flex-wrap gap-2 p-3 mt-5 justify-content-around border-top border-dark" id="footer">
    <div class="d-felx">
      <img alt="Chropf Chrötte" src="assets/logos/chropfchroette_weiss.png"
           style="max-height: 200px" class="mw-100">
    </div>
    <div>
      <img alt="Terrassion" src="assets/logos/terrassino.png"
           style="max-height: 200px" class="mw-100">
    </div>
  </div>
  <div class="d-flex gap-2 p-3 mt-5 justify-content-around border-top border-dark" id="footer">
    <div>&copy; Chropf Chrötte {{date | date:'yyyy'}}</div>
    <a routerLink="/kontakt">Kontakt</a>
  </div>
</div>
