<div class="container">
  <h1>Übersicht</h1>
  <div class="row mb-5">
    <div class="col col-12 col-xl-6">
      <img src="assets/neoversum_overview_2.png" class="mw-100" />
    </div>
    <div class="col mt-2">
      <h4>HANGAR 🥂</h4>
      <p class="fs-6">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua.
      </p>
      <h4>
        TRIEBWERK
        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
      </h4>
      <p class="fs-6">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua.
      </p>
      <h4>
        STARTRAMPE
        <fa-icon [icon]="faMasksTheater" class="text-danger"></fa-icon>
      </h4>
      <p class="fs-6">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua.
      </p>
    </div>
  </div>

  <h1>Programm</h1>
</div>
<div class="container-lg">
  <div class="alert alert-danger d-md-none" role="alert">
    ↔️ Vertikal scollen um mehr Informationen anzuzeigen
  </div>
  <div class="table-responsive">
    <table class="table text-white">
      <thead>
        <tr>
          <th scope="col">Datum</th>
          <th scope="col">Startzeit</th>
          <th scope="col">Veranstaltung</th>
          <th scope="col">Beschreibung</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let pp of program; let i = index"
          [class]="pp.showDate ? 'bold' : ''">
          <td
            class="text-nowrap border-0"
            [class]="
              (pp.showDate ? 'bold ' : '') +
              (pp.date.getDay() == today.getDay() &&
              pp.date.getMonth() == today.getMonth() &&
              pp.date.getFullYear() == today.getFullYear()
                ? 'text-danger'
                : '')
            ">
            <ng-container *ngIf="pp.showDate">
              <span class="text-nowrap d-none d-lg-block">{{
                pp.date | date : 'cccc, dd. MMMM yyyy' : 'MESZ' : 'de-ch'
              }}</span>
              <span class="d-lg-none">{{
                pp.date | date : 'ccc, dd.MM.' : 'MESZ' : 'de-ch'
              }}</span>
            </ng-container>
          </td>
          <td class="text-nowrap">
            <ng-container *ngIf="pp.showTime">
              {{ pp.date | date : 'HH:mm' : 'MESZ' : 'de-ch' }} Uhr
            </ng-container>
            <ng-container *ngIf="!pp.showTime">?</ng-container>
          </td>
          <td class="text-nowrap">
            <fa-icon
              *ngIf="pp.isTheatre"
              [icon]="faMasksTheater"
              class="me-2 text-danger"></fa-icon>
            <fa-icon
              *ngIf="!pp.isTheatre"
              [icon]="faStar"
              class="me-2 text-warning"></fa-icon>
            <a *ngIf="pp.url; else title" [href]="pp.url" target="_blank">{{
              pp.title
            }}</a>
            <ng-template #title>{{ pp.title }}</ng-template>
          </td>
          <td>{{ pp.description }}</td>
          <td>
            <div
              class="badge bg-danger text-dark rounded text-wrap w-100 disabled"
              *ngIf="!pp.isTheatre">
              GRATIS & ÖFFENTLICH
            </div>
            <a
              *ngIf="pp.bookingButton"
              href="https://www.ticketleo.com/en/"
              target="_blank"
              class="btn btn-sm btn-outline-danger text-nowrap disabled w-100">
              <fa-icon [icon]="faRocket"></fa-icon>
              Book now!</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
