tr {
  border: none !important;

  &.bold {
    border-style: solid none none none !important;
    border-width: 2px !important;
  }

  td {
  }
}

th {
  border-style: none none none none !important;
}
