<div class="container">
  <h1>Übersicht</h1>
  <div class="row mb-5">
    <div class="col col-12 col-xl-6">
      <img src="assets/neoversum_overview_2.png" class="mw-100" />
    </div>
    <div class="col mt-2">
      <h4>HANGAR 🥂</h4>
      <p class="fs-6">
        Im Hangar findest du alles, was du für einen guten Raketenstart in den
        Abend benötigst: Jede Menge Flüssiges, damit du nicht auf dem Trockenen
        bleibst, und auch eine feine Mahlzeit, um mit vollem Magen gemütlich in
        die Rakete einzusteigen.
      </p>
      <h4>
        TRIEBWERK
        <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
      </h4>
      <p class="fs-6">
        Im Triebwerk geben dir zahlreiche Künstler:innen den richtigen Schub, so
        dass du dein Tanzbein anständig schwingen und dich der Musik, Poesie und
        Schwerelosigkeit hingeben kannst.
      </p>
      <h4>
        STARTRAMPE
        <fa-icon [icon]="faMasksTheater" class="text-danger"></fa-icon>
      </h4>
      <p class="fs-6">
        Auf der Startrampe geht’s ab ins Weltall. Als Gast des Klamauktheaters
        NEOVERSUM hast du die Möglichkeit auf eine unvergessliche Reise zu
        gehen, weit weg vom Alltag hin in eine skurrile, kreative und
        einzigartige Welt. Hole dir jetzt dein Ticket, um dabei zu sein!
      </p>
      <h4>
        Infos Theatergäste
        <fa-icon [icon]="faTimeline" class="text-warning"></fa-icon>
      </h4>
      <p class="fs-6">
        Für das Klamauktheater NEOVERSUM benötigst du ein Ticket. Im Preis
        inbegriffen sind ein Abendessen im Hangar (Pinsa deiner Wahl, zwei
        Getränke und ein Glacé) sowie der Einlass zum Klamauktheater NEOVERSUM.
        Du kannst dein Ticket ab 18:00 Uhr einlösen, um 21:21 Uhr startet das
        Theater.<br />Das Theater findet bei jeder witterung statt. Es besteht
        kein Recht auf Rückerstattung des Ticketpreises, kein Umtauschrecht und
        auch kein Recht auf einen Ersatztermin.
      </p>
    </div>
  </div>

  <h1>Programm</h1>
</div>
<div class="container-lg">
  <div class="alert alert-danger d-md-none" role="alert">
    ↔️ Vertikal scollen um mehr Informationen anzuzeigen
  </div>
  <div class="table-responsive">
    <table class="table text-white">
      <thead>
        <tr>
          <th scope="col">Datum</th>
          <th scope="col">Startzeit</th>
          <th scope="col">Veranstaltung</th>
          <th scope="col">Beschreibung</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let pp of program; let i = index"
          [class]="pp.showDate ? 'bold' : ''">
          <td
            class="text-nowrap border-0"
            [class]="
              (pp.showDate ? 'bold ' : '') +
              (pp.date.getDay() == today.getDay() &&
              pp.date.getMonth() == today.getMonth() &&
              pp.date.getFullYear() == today.getFullYear()
                ? 'text-danger'
                : '')
            ">
            <ng-container *ngIf="pp.showDate">
              <span class="text-nowrap d-none d-lg-block">{{
                pp.date | date : 'cccc, dd. MMMM yyyy' : 'MESZ' : 'de-ch'
              }}</span>
              <span class="d-lg-none">{{
                pp.date | date : 'ccc, dd.MM.' : 'MESZ' : 'de-ch'
              }}</span>
            </ng-container>
          </td>
          <td class="text-nowrap">
            <ng-container *ngIf="pp.showTime">
              {{ pp.date | date : 'HH:mm' : 'MESZ' : 'de-ch' }} Uhr
            </ng-container>
            <ng-container *ngIf="!pp.showTime">?</ng-container>
          </td>
          <td class="text-nowrap">
            <fa-icon
              *ngIf="pp.isTheatre"
              [icon]="faMasksTheater"
              class="me-2 text-danger"></fa-icon>
            <fa-icon
              *ngIf="!pp.isTheatre"
              [icon]="faStar"
              class="me-2 text-warning"></fa-icon>
            <a *ngIf="pp.url; else title" [href]="pp.url" target="_blank">{{
              pp.title
            }}</a>
            <ng-template #title>{{ pp.title }}</ng-template>
          </td>
          <td>{{ pp.description }}</td>
          <td>
            <div
              class="badge bg-danger text-dark rounded text-wrap w-100 disabled"
              *ngIf="!pp.isTheatre">
              GRATIS & ÖFFENTLICH
            </div>
            <a
              *ngIf="pp.bookingButton"
              href="https://reservation.ticketleo.com/event/25661/theater-neoversum"
              target="_blank"
              class="btn btn-sm btn-outline-danger text-nowrap w-100">
              <fa-icon [icon]="faRocket"></fa-icon>
              Book now!</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
