<div class="container">
  <h1>Programm</h1>
  <div class="card text-dark">
    <div class="card-body">
    <h5 class="card-title">18. August 2023</h5>
      <div class="row">
        <div class="col-xs-12 col-lg">
          <h6>Pedestrians</h6>
          <p>Am Freitag ab 20:00 Uhr verwöhnt uns Pedestrians mit Musik</p>
        </div>
        <div class="col-xs-12 col-lg">
          <h6>Theater</h6>
          <p>Rocket lauch 11:00pm</p>
    <a href="#" class="btn btn-primary"><fa-icon [icon]="faRocket"></fa-icon> Book here!</a>
        </div>
      </div>
  </div>
  </div>
</div>
