<div
  id="navbar"
  class="d-flex flex-wrap align-items-center justify-content-evenly text-light p-3 gap-3 border-bottom border-dark border-2">
  <a routerLink="/">NEOVERSUM</a>
  <a
    routerLink="/programm"
    [routerLinkActive]="['text-danger']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Programm</a
  >
  <a
    routerLink="/erinnerungen"
    [routerLinkActive]="['text-danger']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Erinnerungen</a
  >
  <a
    routerLink="/sponsoren"
    [routerLinkActive]="['text-danger']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Sponsoren</a
  >
  <a
    routerLink="/hälfe"
    [routerLinkActive]="['text-danger']"
    [routerLinkActiveOptions]="{ exact: true }"
    >Mithelfen</a
  >
</div>
