
#title {
  //  padding: 20px;
  //height: calc(100vh - 50px);
  //height: 100vh;
  display: grid;
  gap: 20%;

  grid-template-rows: auto min-content;
  grid-template-columns: auto;
  //align-content: stretch;
  //align-content: center;
  //  align-items: start;
  //  gap: 20px;
  background-image: url("../../assets/planet_baden.png");
  background-position: center;
  background-size: cover;

  #title-img {
    min-height: 0;

    img {
      max-height: 100%;
    }
  }
}
