#title {
  display: grid;
  gap: 20%;

  width: 100%;
  height: 100vh !important;
  /* mobile viewport bug fix */
  height: -moz-available;
  height: -webkit-fill-available;

  grid-template-rows: min-content auto min-content; // comment this line if prod
  //grid-template-rows: auto min-content; // uncomment this line if prod
  grid-template-columns: 1fr;

  background-image: url('../../assets/planet_baden.png');
  background-position: center;
  background-size: cover;

  #title-img-container {
    min-height: 0;

    display: grid;
    grid-template-columns: auto;

    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    //overflow: hidden;

    img#title-img {
      min-height: 0;
      min-width: 0;
      max-height: 100%;
      max-width: 100%;
    }
  }
}
