<div class="container">
  <h1>Hauptsponsoren</h1>
  <div class="mb-5">
    <div class="row align-items-stretch">
      <div
        class="col col-12 col-lg-6 col-xl-4 p-3"
        *ngFor="let sponsor of primarySponsors">
        <app-sponsor-card [sponsor]="sponsor"></app-sponsor-card>
      </div>
    </div>
  </div>
  <h1>Sponsoren</h1>
  <div class="mb-5">
    <div class="row align-items-stretch">
      <div
        class="col col-12 col-md-6 col-lg-4 col-xl-3 p-3"
        *ngFor="let sponsor of secondarySponsors">
        <app-sponsor-card [sponsor]="sponsor"></app-sponsor-card>
      </div>
    </div>
  </div>
</div>
