<div class="container">
  <h1>Sponsoring</h1>
  <p>
    Um unser NEOVERSUM auf die Beine stellen zu können, brauchen wir
    Unterstützung. Nur dank grosszügigen Sponsorinnen und Sponsoren ist es eine
    breite Palette an Kultur und Unterhaltung an der Badenfahrt 2023 möglich.
    Vielen Dank!
  </p>
  <h1>Hauptsponsoren</h1>
  <div class="mb-5">
    <div class="row align-items-stretch">
      <div
        class="col col-12 col-lg-6 col-xl-4 p-3"
        *ngFor="let sponsor of primarySponsors">
        <app-sponsor-card [sponsor]="sponsor"></app-sponsor-card>
      </div>
    </div>
  </div>
  <h1>Sponsoren</h1>
  <div class="mb-5">
    <div class="row align-items-stretch">
      <div
        class="col col-12 col-md-6 col-lg-4 col-xl-3 p-3"
        *ngFor="let sponsor of secondarySponsors">
        <app-sponsor-card [sponsor]="sponsor"></app-sponsor-card>
      </div>
    </div>
  </div>
  <h1>Gönner</h1>
  <div class="mb-5">
    <div class="row align-items-stretch">
      <div
        class="col col-6 col-md-4 col-lg-3 col-xl-2 p-3"
        *ngFor="let sponsor of goennerSponsors">
        <app-sponsor-card [sponsor]="sponsor"></app-sponsor-card>
      </div>
    </div>
  </div>
  <p>
    Willst du unser Projekt mit einem Sponsoring unterstützen und so von
    attraktiven Angeboten profitieren? Dann nimm mit uns Kontakt auf:
    <a href="mailto:sponsoring@neoversum.ch">sponsoring@neoversum.ch</a>.
  </p>
</div>
