

$primary: #053555;
$danger: #ec634d;


@import '../node_modules/bootstrap/scss/bootstrap';

html {
   height: 100%;
}

body{
  width: 100%;
  height: 100%;
  background-image: url("assets/sternenhimmel.png");
  background-size: contain;
  background-repeat: repeat repeat;
}

a{
  color: white;
  text-decoration: none;

  &:hover{
    color: $danger;
  }
}
