<div class="container">
  <h1 class="text-center">NEOVERSUM an der Badenfahrt 2023</h1>
  <p class="text-center my-5">
    <span class="text-danger">Chopfchrötte</span> und
    <span class="text-danger">terrassino</span> entdecken an der Badenfahrt 2023
    das <span class="text-danger">NEOVERSUM</span>. Mit dabei sind auserlesene
    Passagiere, die erfahren wollen, was sich jenseits der Milchstrasse
    vorfinden lässt. Reise ebenfalls mit und entdecke mit uns eine neue Welt -
    eine Welt jenseits des bis jetzt bekannten Universums!
  </p>
  <div class="d-flex justify-content-center">
    <a
      href="https://www.ticketleo.com/en/"
      target="_blank"
      class="btn btn-dark mx-2">
      <fa-icon [icon]="faRocket" class="text-danger"></fa-icon>
      Theater buchen!</a
    >
    <a [routerLink]="'/programm'" class="btn btn-dark mx-2">
      <fa-icon [icon]="faCalendarCheck" class="text-danger"></fa-icon>
      Zum Programm!</a
    >
  </div>

  <ngb-carousel
    *ngIf="slides"
    [showNavigationArrows]="showNavigationArrows"
    [pauseOnHover]="false"
    [pauseOnFocus]="false"
    [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let slide of slides">
      <div class="picsum-img-wrapper d-flex justify-content-around">
        <img [src]="slide.img" alt="Random slide" />
      </div>
      <div class="carousel-caption">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p>"{{ slide.quote }}"</p>
          </blockquote>
          <figcaption class="blockquote-footer text-danger fs-3">
            {{ slide.title }}
          </figcaption>
        </figure>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
