<div class="container">
  <h1 class="text-center text-danger">NEOVERSUM an der Badenfahrt 2023</h1>
  <p class="text-center my-5">
    Chropfchrötte und terrassino reisen an der
    <a href="https://badenfahrt.ch/" target="_blank">Badenfahrt 2023</a> ins
    NEOVERSUM. Mit dabei sind nur ausgewählte Passagiere. Sie wollen
    herausfinden, was sich jenseits der Milchstrasse vorfindet und hoffen auf
    besonders schmackhaften Sternenstaub, unentdeckte Landreserven oder das
    Wiedersehen mit Cordula. Begleitet werden sie von einer Crew, die für ein
    unvergessliches musikalisches und kulinarisches Erlebnis besorgt ist. Reise
    ebenfalls mit und entdecke mit uns eine neue Welt – eine Welt jenseits des
    bis jetzt bekannten Universums!
  </p>
  <div class="d-flex justify-content-center">
    <a [routerLink]="'/programm'" class="btn btn-dark mx-2">
      <fa-icon [icon]="faCalendarCheck" class="text-danger"></fa-icon>
      Zum Programm!</a
    >
    <a
      href="https://www.ticketleo.com/en/"
      target="_blank"
      class="btn btn-dark mx-2 disabled">
      <fa-icon [icon]="faRocket" class="text-danger"></fa-icon>
      Theater buchen!</a
    >
    <a
      href="https://goo.gl/maps/QUW7GSsxHZ2S78117"
      target="_blank"
      class="btn btn-dark mx-2">
      <fa-icon [icon]="faMapLocation" class="text-danger"></fa-icon>
      Standort</a
    >
  </div>

  <ngb-carousel
    id="home-carousel"
    *ngIf="slides"
    [showNavigationArrows]="showNavigationArrows"
    [pauseOnHover]="false"
    [pauseOnFocus]="false"
    [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide *ngFor="let slide of slides">
      <div class="picsum-img-wrapper d-flex justify-content-around">
        <img [src]="slide.img" class="slider-imagae" alt="Random slide" />
      </div>
      <div class="carousel-caption">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p>"{{ slide.quote }}"</p>
          </blockquote>
          <figcaption class="blockquote-footer text-danger fs-3">
            {{ slide.title }}
          </figcaption>
        </figure>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
