<div class="container">
  <h1>Erinnerungen</h1>
  Einige Eindrücke aus der Vergangenheit ...
  <div class="row g-5 mt-3">
    <div class="col col-12">
      <h3 class="text-danger">Schrottbodenalp - Badenfahrt 2017</h3>
      <div class="row g-3">
        <div class="col col-12 col-lg-6">
          <p>
            Nur einmal im Leben kann man ein solches Projekt stemmen! An der
            Badenfahrt 2017 spannten die Chropfchrötte und das terrassino
            erstmals zusammen und luden auf die Schrottbodenalp ennet der
            Holzbrücke im Stohlergut ein. Dank der Gemeinde Wettingen und
            lokalen Vereinen sowie vielen freiwilligen Helfenden wurde beim
            Landvogteischloss aus dem Nichts eine grossartige Szenerie auf die
            Bühne gestellt. Die Schrottbodenalp bot Klamauk, Kulinarik,
            Kleinkunst und Nachtleben - alles an einem Ort. Ganze 27 Personen
            spielten allein auf der Bühne, Dutzende waren dahinter und daneben
            im Einsatz, alle zum Wohle eines gigantischen
            Laien-Klamauk-Theaters. Über 500 Zuschauer pro Abend erlebten und
            staunten, was für Schrott auf einer Alp produziert werden kann.
            Neben dem Theater konnten die Besucher*innen die liebevoll
            gestaltete Dekoration der Schrott Boden Alp bestaunen, gemütlich
            etwas trinken, ausgezeichnet speisen aber auch regionale Bands hören
            und zu DJs abfeiern.
          </p>
        </div>
        <div class="col col-12 col-lg-6">
          <iframe
            class="youtube border border-1 border-danger"
            src="https://www.youtube.com/embed/cCLRQBtMTFI"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="col col-12">
          <app-photo-slider [photos]="photosBF2017"></app-photo-slider>
        </div>
      </div>
    </div>
    <hr class="border border-danger border-2 opacity-50" />
    <div class="col col-12">
      <h3 class="text-danger">
        Terrassino - eine Welt für sich(t) - "kleine" Badenfahrt 2012
      </h3>
      <div class="row g-3">
        <div class="col col-12">
          <p>
            Am Schlossberg - unterhalb der Ruine Stein in einem verwilderten
            Garten - fand sich eine kleine aber feine Kulturbeiz, lautend auf
            den Namen terrassino. Auf einer kleinen Bühne präsentierten lokale
            und uns bekannte, ambitionierte Kolleg*innen und Künstler*innen ihr
            Können in einem ungezwungenen Rahmen. Im ganzen Garten fanden sich
            kleinere und grössere Tische und lauschige Ecken. Das terrassino
            wurde ein Geheimtipp unter den Besucher*innen für ein ruhiges
            Plätzchen ausserhalb des Trubels des Stadtfestes.
          </p>
          <p>
            Im Rahmen einer Projektarbeit für das Studium in Soziokultureller
            Animation eines OK-Mitgliedes wurde ein Verein gegründet und mit
            vielen mutigen Unterstützer*innen eine Plattform für angehende
            Künstler*innen geschaffen. Ohne grosse Bauten, ohne Budget und mit
            noch weniger Erfahrung. Seither besteht der Verein terrassino und
            engagiert sich nun bereits an der dritten Badenfahrt.
          </p>
        </div>
        <div class="col col-12">
          <app-photo-slider
            [photos]="photosBF2012Terrassion"></app-photo-slider>
        </div>
      </div>
    </div>
    <hr class="border border-danger border-2 opacity-50" />
    <div class="col col-12">
      <h3 class="text-danger">
        Grandhotel Chriesi - "kleine" Badenfahrt 2012 (Little Wettingen)
      </h3>
      <div class="row g-3">
        <div class="col col-12 col-lg-6">
          <p>
            Kleine Badenfahrt - grosse Nummer!! Zweimal pro Abend verwandelten
            wir das Chriesiareal in ein Grand Hotel. Zusammen mit den Wettinger
            Vereinen betrieben wir das Grand Hotel Chriesi und verköstigten die
            Gäste auf hohem Niveau. Anschliessend kamen die Zuschauer in den
            Genuss des Hotellebens. Mit viel Klamauk betrieb Frau Mohrbutter das
            Hotel und verwöhnte ihre Gäste von Madame Schéri über James Bond bis
            hin zu Napoleon. Im edlen Haus ging alles ein und aus, was Rang und
            Namen hatte.
          </p>
          <p>
            Wer nicht genug bekam, konnte sich nach dem Theater auf der
            Discowiese bis in die frühen Morgenstunden vergnügen. Ein tolles
            Projekt zusammen mit der Gemeinde Wettingen und ihren Vereinen!
          </p>
        </div>
        <div class="col col-12 col-lg-6">
          <iframe
            class="youtube border border-1 border-danger"
            src="https://www.youtube.com/embed/OEZI7apUhH8"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
        <div class="col col-12">
          <app-photo-slider [photos]="photosBF2012ChrChr"></app-photo-slider>
        </div>
      </div>
    </div>
    <hr class="border border-danger border-2 opacity-50" />
    <div class="col col-12">
      <h3 class="text-danger">Schlosserstift Chriesi - Badenfahrt 2007</h3>
      <div class="row g-3">
        <div class="col col-12 col-lg-6">
          <p>
            Zum ersten Mal in der Geschichte spielten die Chropfchrötten auf der
            grossen Bühne -respektive eben an der Fassade des legendären
            Chriesihauses. 250 Zuschauerinnen und Zuschauer auf farbigen Stühlen
            erlebten die Geschichte des Schlosserstifts Chriesi. Der
            kulinarische Teil wurde im wunderschönen Gässli hinter dem Haus
            angeboten. Mit dieser Vorstellung wurde der Grundstein für die
            folgenden Badenfahrten gelegt: Klamauk pur mit viel Liebe zum
            Detail, mit Herz beim Spielen und mit viel Engagement für ein tolles
            Projekt!
          </p>
        </div>
        <div class="col col-12 col-lg-6">
          <iframe
            class="youtube border border-1 border-danger"
            src="https://www.youtube.com/embed/iZCM_db4l8I"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
